In [29]:
from vector_search import search_vector
from pprint import pprint
query = "two garage"

result = search_vector(query)

In [30]:
doc_ids = []
for row in result[0]:
    doc_ids.append(row['entity']['doc_id'])
doc_ids

['3928', '3928', '3928', '3928', '3928', '457', '457', '457', '457', '457']

In [34]:
import pandas as pd
df = pd.read_csv('../5.finetuning_SBERT/dataset_D_Q.csv')
#  create a dict with df['id] as key and df['document] as value
# if two df['id'] are the same, the value will be a str of documents
doc_dict = {}
for idx, row in df.iterrows():
    if row['id'] in doc_dict:
        # Append the new document to the existing string with a space or other delimiter
        doc_dict[row['id']] += " " + row['document']
    else:
        # Create a new entry in the dictionary
        doc_dict[row['id']] = row['document']

In [37]:
df.head(10)

   id   document                                              query
0   0  ertyuiop[  Here are five potential questions that could b...
1   0  ertyuiop[  1. What is the purpose or intended use of this...
2   0  ertyuiop[  2. Are there any hidden patterns or structures...
3   0  ertyuiop[  3. Have all the characters in the document bee...
4   0  ertyuiop[  4. Could this be an example of a specific writ...
5   1     qwerty  1. What is the significance of the qwerty sequ...
6   1     qwerty  2. Are there any underlying patterns or struct...
7   1     qwerty  3. How does the qwerty sequence relate to othe...
8   1     qwerty  4. Are there any historical or cultural refere...
9   1     qwerty  5. Is the qwerty sequence intended to be inter...

In [32]:
docs = []
for doc in doc_ids:
    # print(doc_dict[int(doc)])
    docs.append(doc_dict[int(doc)])
len(docs)

10

In [33]:
# convert the list of documents to a dataframe
df = pd.DataFrame(docs, columns=['document'])
df.head()

                                            document
0  nd a carport coupled with on-street parking. A...
1  nd a carport coupled with on-street parking. A...
2  nd a carport coupled with on-street parking. A...
3  nd a carport coupled with on-street parking. A...
4  nd a carport coupled with on-street parking. A...