In [1]:
from database import *

res = await fetch_all_properties()
print(len(res))

369

In [5]:
documents_list = []
for docu in res:
    if 'description' in docu.keys():
        if docu['description'] is not None:
            documents_list.append(docu['description'])
len(documents_list)

263

In [6]:
import pandas as pd

# create a dataframe with 6 columns, first is document, second is quey1, third is query2, fourth is query3, fifth is query4, sixth is query5
df = pd.DataFrame(columns=['document', 'query1', 'query2', 'query3', 'query4', 'query5'])
# insert the documents into the first column
df['document'] = documents_list
df.head()

,document,query1,query2,query3,query4,query5
0,ertyuiop[,NaN,NaN,NaN,NaN,NaN
1,qwerty,NaN,NaN,NaN,NaN,NaN
2,Lorem ipsum samir dil olr Lorem ipsum samir di...,NaN,NaN,NaN,NaN,NaN
3,abc,NaN,NaN,NaN,NaN,NaN
4,qwerty,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_csv('dataset.csv')